body {
     color:white;
     background-color: black;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fc77e3;
}

.center {
    text-align: center;
}

h1 {
    color: #fc77e3;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: #fc77e3;
}

.contact-form input {
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
}

.contact-form input[type=text]{
    height: 100px;
}

button{
    display: inline-block;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid #fc77e3;
    border-radius: 10px;
}
button:hover{
    animation: pulsate 1s ease-in-out;
}


@keyframes pulsate{
    0%{
        box-shadow: 
        0 0 25px #ffd7f7, 
        0 0 50px #fc77e3;
    }
} 

header img:hover{
    animation: pulsate 1s ease-in-out;
}